html{
    box-sizing: border-box;
}

body{
    margin: 5px;
    background-color: var(--background-color);
}

*, *:before, *:after{
    box-sizing: inherit;
}

header{
       
    background-color: var(--nav-color);    
}

nav{
    display: flex;    
    margin-top: 5px;
}

nav p{    
    margin: 12px;    
}

a{
    transition: all ease-in-out 125ms;
    color: black;
}

a:hover{
    text-shadow: 0 0 4px white;
    transition: all ease-in-out 125ms;
}

img{
    display: block;
    max-width: 100%;
    max-height: 139;
}

.intro{

    width: 100%;
    background-color: var(--intro-color);    
    font-family: 'Roboto', Helvetica, sans-serif;
    font: 100;
    line-height: 1.3em;    
}

.skills{    
    width: 100%;
    background-color: var(--skills-color);
    font-family: 'Roboto', Helvetica, sans-serif;
    font: 100;
    line-height: 1.5em;
}

.projects{
    width: 100%;
    background-color: rgb(0, 0, 27);
    font-family: 'Roboto', Helvetica, sans-serif;
    font: 100;
    color: white;
}

.projects a{
    color: white;
}

.emblems{
    margin-top: 10px;
}

i{
    font-size: 100px;
    margin: 12px;
    
}

.subtitle{
    background-color: var(--title-color);
    margin-top: -22px;
    margin-bottom: -22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.logo p{
    font-family: 'Great Vibes', cursive;
    font-size: 140px;
    text-align: center;
}

.contacts{
    display: flex;
    background-color: var(--nav-color);
}



@media (min-width: 750px){
    body{
        margin-left: 24px;
        margin-right: 24px;
    }
    
    header{
        display: flex;
        justify-content: space-between; 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999px;
        width: 100%;        
    }

    header h2{
        margin: 24px;
    }   

    footer{
        margin: 24px;
    }
    
}

@media (min-width: 1000px){

    header{
        font-size: larger;
        margin-left: auto;
        margin-right: auto;
    }
    .logo{
        padding-top: 220px;
        padding-bottom: 180px;
    }
    .logo p{
        font-size: 200px;
    }
    .intro{
        /* padding-top: 80px; */
        /* display: flex; */
        align-items: flex-start;
        line-height: 1.5em;
        font-size: 24px;
        padding-bottom: 24px;
    }
    .bio{
        display: flex;
    }

    .bio img{
        width: 300px;
        height: 250px;
    }
    
    .bio-start h2{
        margin-left: 24px;
    }
    .bio-start p{
        
        max-width: 500px;
    }
    .skills{
        display: flex;
        align-items: flex-start;
        
    }
    .emblems{
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    i{
        margin: 24px;
        
    }
    p{
        margin: 12px;
    }
    .projects{
        display: flex;
        align-items: flex-start;
        font-size: 24px;
    }
    .projects li{
        margin-left: 12px;
    }
    .projects img{
        width: 600px;
        height: 400px;
    }
    .subtitle{
        height: 100px;
    }
    .subtitle h1{
        padding-top: 20px;
    }
    
}

@media (min-width: 1200px){
    body{
        margin: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
}