html{
    box-sizing: border-box;
}

body{
    
    background-color: bisque;
}

*, *:before, *:after{
    box-sizing: inherit;
}

header{
       
    background-color: rgb(128, 128, 128);    
}

nav{
    display: flex;    
    margin-top: 12px;
}

nav p{    
    margin: 12px;    
}

a{
    transition: all ease-in-out 125ms;
    color: black;
}

a:hover{
    text-shadow: 0 0 4px white;
    transition: all ease-in-out 125ms;
}

img{
    display: block;
    max-width: 100%;    
}

.intro{

    width: 100%;
    background-color: yellow;    
    font-family: 'Roboto';
    font: 100;
    line-height: 1.3em;    
}

.skills{    
    width: 100%;
    background-color: deepskyblue;
    font-family: 'Roboto', Helvetica, sans-serif;
    font: 100;
    line-height: 1.5em;
}

.projects{
    width: 100%;
    background-color: yellow;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.emblems{
    margin-top: 10px;
}

i{
    font-size: 100px;
    margin: 12px;
    
}

.subtitle{
    background-color: red;
    margin-top: -21px;
    margin-bottom: -22px;
}



@media (min-width: 750px){
    body{
        margin-left: 24px;
        margin-right: 24px;
    }
    
    header{
        display: flex;
        justify-content: space-between; 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999px;
        width: 100%;        
    }

    header h2{
        margin: 24px;
    }   

    footer{
        margin: 24px;
    }
    
}

@media (min-width: 1000px){

    header{
        font-size: larger;
        margin-left: auto;
        margin-right: auto;
    }
    .intro{
        padding-top: 80px;
        display: flex;
        align-items: flex-start;
        line-height: 1.5em;
    }
    .skills{
        display: flex;
        align-items: flex-start;
    }
    p{
        margin: 12px;
    }
    .projects{
        display: flex;
        align-items: flex-start; 
    }
    .projects li{
        margin-left: 12px;
    }
    .projects img{
        width: 600px;
        height: 400px;
    }
    .FAS{
        
    }
}